body{   
    font: 400 13px/21px 'Open Sans',sans-serif;
    color: #666;
}

.slider {

		&__content {
            
		}

		&__title {
		}

		&__text {
			color: black !important;
		}

		&__button {
		}

		&__link {
		}
}
