/* rgb(64 64 64) header top 
rgb(136 136 136) header top text
rgba(0,0,0,.4) nav
rgb(100 100 100) all text color
rgba(255,92,1,.75) color orange
#888 footer
#aaa button up */
.all{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header-content{
    /* height: 20rem; */
    background-color: rgba(0,0,0,0.4) !important;
    position: sticky;
    top: 0;
}
.header-content *{
    /* color:white; */
    color: #b9b9b9;
}