/* rgb(64 64 64) header top 
rgb(136 136 136) header top text
rgba(0,0,0,.4) nav
rgb(100 100 100) all text color
rgba(255,92,1,.75) color orange
#888 footer
#aaa button up */
html, body{
    scroll-behavior: smooth;
}
body{
    color: #666;
}
.all{
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.navbar{    
    background-color: rgba(0,0,0,0.4) !important;
    position: sticky;
    top: 0;
}
.card:hover{
    border: 1px solid rgba(255,92,1,0.75);
}
.mainPageCategory{
    display: flex; 
    justify-content:space-around;
}
.page-header{
    position: relative;
    max-width: 1140px;
    margin: 0 auto 20px;
    text-align: center;
}
.page-header:before {
    content: '';
    display: block;
    border-top: 1px solid #ddd;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}
.title {
    position: relative;
    display: inline-block;
    background: #fff;
    color: #666;
    font: 300 24px/24px 'Open Sans',sans-serif;
    padding: 0 15px;
    margin: 0;
    z-index: 2;
}
.up{
    display: block;
    width:3rem;
    height:3rem;
    margin: 2rem;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #888;
    text-decoration: none;
    /* outline: none; */
    color: rgba(255,92,1,0.65);
}
.fa-arrow-alt-circle-up{
    font-size: 3rem;
    /* color: rgba(255,92,1,0.65); */
}
footer {
    padding-top: 25px;
    clear: both;
    background: #888;
    color: #fff;
    line-height: 0;
    font-size: 0;
}
